.testimonials-section {
    padding: 90px 0;
    background: #ffffff;
}

.title {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 700;
    margin: 0 auto 60px;
}


.testimonials-section .container {
    text-align: center;
}

.title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;

    width: 100%;
    height: 5px;
    background: #ff7a00;
    border-radius: 6px;

    clip-path: inset(0 0 0 100%);
    animation: loaderRightToLeft 2.8s ease-in-out infinite;
}


@keyframes loaderRightToLeft {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    40% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 100% 0 0);
    }
}

.testimonial-slider-wrapper {
    position: relative;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.testimonial-card {
    position: absolute;
    width: 70%;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.6s ease;
    pointer-events: none;
}

.testimonial-card.active {
    opacity: 1;
    transform: scale(1);
    z-index: 3;
    pointer-events: auto;
}

.testimonial-card.prev {
    opacity: 0.4;
    transform: translateX(-60%) scale(0.9);
}

.testimonial-card.next {
    opacity: 0.4;
    transform: translateX(60%) scale(0.9);
}

.testimonial-card.prev2,
.testimonial-card.next2 {
    opacity: 0.25;
    transform: scale(0.85);
}

.card-inner {
    background: linear-gradient(135deg, #f9f9f9, #eeeeee);
    padding: 45px;
    border-radius: 22px;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.text {
    font-style: italic;
    margin-bottom: 28px;
}

.user-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-wrap img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.stars {
    color: #ce1212;
    font-size: 1.3rem;
}