/* ===============================
   SECTION TITLE
================================ */
.members-title {
  font-size: 34px;
  font-weight: 700;
  color: #111;
  display: block;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.members-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    width: 100%;
    height: 5px;
    background: #ff4d00;
    border-radius: 6px;
    clip-path: inset(0 0 0 100%);
    animation: menuLoaderRTL 2.8s ease-in-out infinite;
}

/* ===============================
   LOADING LINE UNDER HEADING
================================ */




@keyframes loadingLine {
  0% { left: -40%; }
  50% { left: 100%; }
  100% { left: 100%; }
}

/* ===============================
   MEMBER CARD
================================ */
.member-card {
  background: #ffffff;
  padding: 26px 20px;
  border-radius: 18px;
  box-shadow: 0 10px 22px rgba(0,0,0,0.1);
  transition: all 0.35s ease;
  height: 100%;
}

/* ===============================
   CARD HOVER ANIMATION
================================ */
.member-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* ===============================
   MEMBER IMAGE
================================ */
.member-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffcc80;
  transition: transform 0.35s ease;
}

/* Image zoom on hover */
.member-card:hover .member-img {
  transform: scale(1.12);
}

/* ===============================
   TEXT
================================ */
.member-card h5 {
  font-weight: 600;
}

.member-card p {
  color: #555;
}
