* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;             
  cursor: pointer;
  touch-action: manipulation  ;
}

.video-box {
  position: relative;
  width: 100%;                   
  height: 100vh;                 
  border-radius: 0;              
  overflow: hidden;
  box-shadow: none;              
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.video-text  {
  position: absolute;
  inset: 0;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.video-text h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-style: italic;
}

.video-text p {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
  opacity: 0.85;
  letter-spacing: 0.5px;
}
